@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
:root {
  --clr-black: #1d1d1d;
  --clr-dark: #282b33;
  --clr-white: #fff;
  --clr-gray: #bebebe;
  --clr-lightGray: #edeaea;
  --clr-darkBlue: #1c4e80;
  --clr-blue: #0091d5;
  --clr-orange: #ea6a47;

  --ff-primary: "Poppins", sans-serif;

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 900;

  /*size*/
  --fs-200: 0.8125rem;
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.6rem;
  --fs-700: 2.25rem;
  --fs-800: 2.5rem;
  --fs-900: 4rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-400);
  --fs-paragraph: var(--fs-500);
  --fs-paragraph-lg: var(--fs-600);
  --fs-card-title: var(--fs-500);

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.25rem;
  --size-600: 1.5rem;
  --size-700: 2rem;
  --size-800: 2.25rem;
  --size-900: 3.5rem;
}

@media (min-width: 50em) {
  :root {
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-700);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  scroll-behavior: smooth;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/*General styling*/
body {
  font-family: var(--ff-primary);
}
.container {
  --max-width: 1450px;
  --padding: 1.5rem;

  width: min(var(--max-width), 100% - (var(--padding)) * 2);
  padding: var(--padding);
  margin: 0 auto;
}
@media (max-width: 50em) {
  .even-col-flip {
    display: grid;
    grid-template-areas:
      "one"
      "two";
  }
  .row-1 {
    grid-area: two;
  }
  .row-2 {
    grid-area: one;
  }
}
.three-col,
.even-col {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.even-col-stick {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 60em) {
  .three-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .even-col,
  .even-col-flip,
  .even-col-stick {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* navbar styling */

.primary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: block;
  width: 4.5rem;
}
@media (min-width: 50em) {
  .logo {
    display: block;
    width: 6rem;
  }
}
.nav-links {
  display: flex;
  overflow-x: hidden;
}
.nav-links li:not(:last-child) {
  margin-right: 1rem;
}
.nav-links a {
  color: var(--clr-black);
  transition: all 350ms ease-in-out;
}
.nav-links a:hover {
  color: var(--clr-orange);
}

.nav-toggle-btn {
  position: fixed;
  background-color: transparent;
  border: 0;
  z-index: 9999;
  cursor: pointer;
}
.nav-toggle-btn img {
  width: 2rem;
  aspect-ratio: 1;
}

@media (min-width: 50em) {
  .nav-toggle-btn {
    display: none;
  }
}
@media (max-width: 50em) {
  .nav-links a {
    color: var(--clr-white);
  }
  .nav-toggle-btn {
    position: fixed;
    right: 2.25rem;
    top: 2rem;
  }
  .nav-wrapper {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 35%;
    padding: 0;
    margin: 0;
    background-color: var(--clr-dark);

    z-index: 9990;
    overflow-x: hidden;
    transform: translateX(100%);
    transition: 500ms all ease-out;
  }

  .nav-wrapper[visible] {
    transform: translateX(0%);
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    padding: 7rem 2rem;
  }
  .nav-links li {
    padding: 1rem 0;
  }
}
@media (min-width: 50em) {
  .nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* landing section styling */
.overlay {
  /* backdrop-filter: blur(0.1rem); */
  background-color: hsl(0, 0%, 0%, 0.6);
  height: 100vh;
}
.landing-section {
  background-image: url("./images/landing-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh; */
}
.cta-orange,
.cta-blue {
  border: 0;
  color: var(--clr-white);
  padding: 1rem 2rem;
  margin: 2rem 0;
  transition: all 350ms ease-in-out;
}
.cta-orange {
  background-color: var(--clr-orange);
}
.cta-blue {
  background-color: var(--clr-blue);
}
.cta-orange:hover,
.cta-blue:hover {
  background-color: var(--clr-darkBlue);
}
.contact-btn {
  display: block;
  background-color: transparent;
  border: 1px solid var(--clr-orange) !important;
  border-radius: 100vmax;
  color: var(--clr-orange);
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  font-weight: bold;
}
@media (max-width: 50em) {
  .contact-btn {
    display: none;
  }
}
.landing__right-col h1 {
  margin: 4rem auto 1rem;
}
@media (min-width: 50em) {
  .landing__right-col h1 {
    margin: 8rem auto 1rem;
  }
}
/* section 1 styling  */
.card {
  max-width: 350px;
  background-color: var(--clr-white);
  border: 0;
  box-shadow: 0.15rem 0.15rem 0.35rem black;
  margin: 2rem auto;
  transition: all 350ms ease-out;
  overflow: hidden;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.08) translateY(-5px);
}
.card__img {
  max-width: 350px;
  max-height: 450px;
}
.card__text-wrapper {
  padding: 1.5rem;
  text-align: justify;
}
.card__title {
  padding: 1rem 0;
}
/* POS section  */
.POS__col-content {
  margin: auto;
}
.POS__img {
  width: 500px;
  aspect-ratio: 1;
  margin: 1rem auto;
}
.POS__text-wrapper {
  max-width: 500px;
  margin: auto;
}
.POS__text-wrapper h1,
.POS__text-wrapper p {
  padding-bottom: 1rem;
}
@media (min-width: 50em) {
  .POS__img {
    margin: 3rem auto;
  }
  .POS__text-wrapper h1,
  .POS__text-wrapper p {
    padding-bottom: 2rem;
  }
}
/* footer styling */

/* footer styling  */
.footer {
  background-color: black;
  padding: 1rem;
}
.footer a {
  color: var(--clr-accent);
  transition: all 350ms ease-in-out;
}
.footer a:hover {
  opacity: 0.6;
  color: var(--clr-gray);
}
/* .footer-main-text {
  padding: 1rem 0 2rem;
} */
.footer-logo {
  width: 30rem;
  max-height: fit-content;
}
@media (min-width: 50em) {
  .footer-main-text {
    padding: 1rem 0 2rem;
  }
  .footer__col {
    margin: 0 auto;
  }
}
.footer__col p {
  padding: 1rem 0;
  font-size: large;
}
.service-highlight-list li {
  font-size: small;
  word-spacing: 0.5ch;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.service-highlight-list li:hover {
  color: var(--clr-gray);
}
.questions-list {
  font-size: small;
}
.social-icons {
  display: flex;
  align-items: center;
  padding: 3rem 0 1rem;
}
@media (min-width: 50em) {
  .social-icons {
    justify-content: flex-start;

    margin-left: 3rem;
  }
}
.social-icon {
  width: 1.5rem;
  margin: 0 0.5rem;
}
.youtube-icon {
  width: 1.5rem;
  height: 1.5rem;
}
@media (min-width: 50em) {
  .social-icons {
    padding: 4rem 0;
  }
  .social-icon {
    width: 2rem;
    margin: 0 1rem;
  }
  .youtube-icon {
    width: 2rem;
    height: 2rem;
  }
}
.margin-auto {
  margin: 4rem auto;
}
.copyright {
  padding: 1rem;
}
/*Utility classes*/
.text-center {
  text-align: center;
}
/*text color*/

.text-black {
  color: var(--clr-black);
}
.text-dark {
  color: var(--clr-dark);
}
.text-white {
  color: var(--clr-white);
}
.text-gray {
  color: var(--clr-gray);
}
.text-orange {
  color: var(--clr-orange);
}
.text-darkBlue {
  color: var(--clr-darkBlue);
}

.bg-blue {
  background-color: var(--clr-blue);
}
.bg-dark {
  background-color: var(--clr-dark);
}
.bg-black {
  background-color: var(--clr-black);
}
.bg-lightGray {
  background-color: var(--clr-lightGray);
}
.bg-darkBlue {
  background-color: var(--clr-darkBlue);
}
.bg-orange {
  background-color: var(--clr-orange);
}
.padding-block-600 {
  padding: var(--size-600);
}
.padding-block-700 {
  padding: var(--size-700);
}
.padding-block-800 {
  padding: var(--size-800);
}
.padding-block-900 {
  padding: var(--size-900);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

/*font sizes*/

.fs-body {
  font-size: var(--fs-body);
}
.fs-primary-heading {
  font-size: var(--fs-primary-heading);
}
.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
}
.fs-nav {
  font-size: var(--fs-nav);
}
.fs-paragraph {
  font-size: var(--fs-paragraph);
}
.fs-paragraph-lg {
  font-size: var(--fs-paragraph-lg);
}
.fs-card-title {
  font-size: var(--fs-card-title);
}
